<%= form_for(location) do |f| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contents %>
    <%= f.text_field :contents %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>
  <div id="formmap" style="height:30vw;width:50vw;"></div>
  <script defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBLeP9o1BoS64HMhqozdAyEMYjADcxQNA&callback=initMap">
  </script> 
  <div class="field">
    <%= f.label :lat %>
    <%= f.text_field :lat, :class => 'recalculate' %>
  </div>

  <div class="field">
    <%= f.label :long %>
    <%= f.text_field :long, :class => 'recalculate' %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address, :class => 'recalculate' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
