<p id="notice"><%= notice %></p>

<h1>Locations</h1>

<div id="indexMap" style="height:30vw;width:50vw;"></div>
  <script defer async
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBLeP9o1BoS64HMhqozdAyEMYjADcxQNA&callback=initIndexMap">
</script>


<table>
  <thead>
    <tr>
      <th>Contents</th>
      <th>Status</th>
      <th>Lat</th>
      <th>Long</th>
      <th>Address</th>
      <th>Posterid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.contents %></td>
        <td><%= location.status %></td>
        <td><%= location.lat %></td>
        <td><%= location.long %></td>
        <td><%= location.address %></td>
        <td><%= location.posterid %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path %>
